@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.logo{
    
    height: 280px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0, 0, 0, .2); ;
    border:0px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    align-items: center;
}

.logo img{

    width:310px;
    height:auto;
   
}
.banner{

background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../image/banner.png);
height: 600px;
width: 100%;
padding-top: 60px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-bottom: 1px solid #33a8db80;

}

*{
    
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
}

.banner h1{
    text-align: center;
    padding: 20px;;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;  
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text; 
    background-clip: text;
}

.banner .banner-content{
    top: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}


.banner .banner-content button{

    margin: 10px auto 0px auto;
    background-color: transparent;
    border: 3px solid #33A8DB;
    padding: 16px 32px;
    text-align: center;
    color: #33A8DB;
    text-transform: uppercase;  
    font-weight: 800;
    font-size: 1rem;
    
}

.banner-content p{

    text-align: center;
    margin-bottom: 30px;
    margin: -5px auto 20px auto;
    width: 500px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    margin-top: -5px;
    font-weight: 200;  
    max-width: 490px;
}

#course-content{
    top: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}

#course-content h2{

    text-align: center;
    padding: 20px;;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;  
    background: -webkit-linear-gradient(#06aef7);
    -webkit-background-clip: text;
    background-clip: text; 
    letter-spacing: 0.3em;
}

#course-content p{

    text-align: center;
    margin-bottom: 30px;
    margin: -5px auto 20px auto;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    margin-top: -5px;
    font-weight: 200;  
    max-width: 1000px;
  
}
.modules-list{
   
    background-color: rgba(0, 0, 0, .2);
}
.modules-list .module span{

    color: #33A8DB;
    font-weight: 300;
}

#course-content .modules-list .module{


    color: white;
    padding: 20px;
    margin: 20px auto 20px auto;
    border: 2px solid #33A8DB80;
    border-radius: 36px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.336);
    width: 530px;
    box-shadow:inset 0 8px 6px rgba(0, 0, 0, .7) ;
    font-weight: lighter;
}

#transform-world{
    color: white;
    margin: 0 auto 0 auto;
    background-image: url(../image/woman-code.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 560px;
    padding-top: 60px;
    background-size: cover;
    padding: 250px;
    border-top: 3px solid #33a8db80;
    border-bottom: 3px solid #33a8db80;
    text-shadow: #1472B7 2px 2px 4px;
}

#transform-world p{

    text-align: left;
    padding: 20px;;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: lowercase; 
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text; 
    background-clip: text;
    max-width: 320px;
    margin-top: -7%;
    text-shadow: 3px 3px 1px #01b3ff;
}
#professional-challenges h2{
    text-align: center;
    padding: 20px;;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: lighter;
    max-width: 60%;
    margin: 0 auto 20px auto;
    color: transparent;  
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text; 
    background-clip: text;
    letter-spacing: 0.3em;
}
#professional-challenges img{
   
    width: 50%;
    height: 50%;
    align-items: center;
    margin: 0 25% 0 25%;
    
}

#professional-challenges p{

    text-align: center;
    width: 100%;
    margin:0 auto 10px auto;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    font-weight: 200;
    min-width: none;  
    max-width: 55%;
    
}
#professional-challenges{
   
    width: 100%;
    height: 50%;
    align-items: center;
    margin: 0 auto 0 auto;

}

footer{
   
    width: 100%;
    height: 100%;
    margin: 50px auto -25px auto;
    border-top: #33a9dbc2 1px solid;
    padding: 40px;
    background-image:linear-gradient(#33a9db00, #33a9db25);
}

footer img{
   
    width: 25%;
    height: 25%;
    align-items: center;
    margin: 0 35% 0 35%;
}
footer p{

    width: 100%;
    text-align: center;
    margin:10px auto 10px auto;
    color: white;
    font-size: large;
   
}

footer a{
    color: #33A8DB;
    text-decoration: none;
}